:root {
  --sky-blue: #257df0;
  --sky-turq: #15d0dd;
  --darker-blue: #004ab3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*CLOUDS*/
.cloud {
  position: absolute;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 12rem;
  animation: crazy 35s infinite linear;
}
.cloud.big {
  top: 50%;
  width: 21rem;
  height: 7rem;
  margin-top: 0.5rem;
  animation-duration: 75s;
}
.cloud.small {
  top: 30%;
  width: 4rem;
  height: 1.3rem;
  margin-top: 0.5rem;
  animation-duration: 60s;
}
.cloud.mid {
  top: 20%;
  width: 9rem;
  height: 3rem;
  margin-top: 0.5rem;
  animation-duration: 62s;
}
.cloud.four {
  top: 80%;
  width: 9.2rem;
  height: 3.1rem;
  margin-top: 0.5rem;
  animation-duration: 68s;
}

.cloud::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50%;
  height: 150%;
  background: white;
  border-radius: 50%;
}
.cloud::after {
  content: "";
  position: absolute;
  top: -40%;
  right: 20%;
  width: 30%;
  height: 100%;
  background: white;
  border-radius: 50%;
}
@keyframes crazy {
  from {
    left: 0;
    transform: translateX(-100%);
  }

  to {
    left: 100%;
    transform: translateX(0%);
  }
}
/*TYPOGRAPHY*/
h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--darker-blue);
}
p {
  color: var(--darker-blue);
  opacity: 0.8;
  padding-top: 1rem;
  font-size: 1.125rem;
}
/*CONTENT*/
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #15d0dd, #257df0);
  display: flex;
  align-items: center; /*vertical alignment*/
  justify-content: center; /*horizontal alignment*/
  font-family: "Oxygen", sans-serif;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 0.2rem;
  z-index: 2;
  backdrop-filter: blur(1rem);
  display: flex;
}

.menu-btn {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.8rem 1.6rem;
  margin-bottom: 0.8rem;
  list-style: none;
  border-radius: 0.1rem;
  color: #257df0;
  font-weight: 300;
  text-transform: uppercase;
  width: 20rem;
}
.big-btn {
  background-image: linear-gradient(
    45deg,
    rgba(245, 129, 193, 0.9),
    rgba(241, 32, 161, 0.9),
    rgba(250, 30, 250, 0.9)
  );
  background-size: 300%;
  background-position: left;
  padding: 10px 30px;
  margin-bottom: 0.8rem;
  list-style: none;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: 10rem;
  transition: background-position 1s;
}
.big-btn:hover,
.big-btn:active {
  border: 1px solid transparent;
  background-position: right;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  align-self: baseline;
  position: relative;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  object-fit: cover;
}
.user::after {
  content: "";
  background-color: rgba(245, 129, 193, 0.2);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  position: absolute;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.card {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  padding: 3rem;
  margin: 2rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 6px 6px 20px rgba(13, 125, 199, 0.7);
}
.dashboard {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.6rem 0 0 0.6rem;
}
.dashboard p {
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.links {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.my-best {
  align-self: center;
  justify-content: space-evenly;
}
@media (max-width: 1400px) {
  .dashboard {
    width: fit-content;
    margin: 0;
  }
  .menu-btn {
    width: 13rem;
    margin: 0.5rem;
  }
}
