* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/*.heart {
  position: absolute;
  margin: 20px;
  height: 170px;
  width: 200px;
  z-index: 1;
  top: 25%;
  right: 12%;
  opacity: 0.6;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 160px;
  background: rgb(255, 255, 255);
  border-radius: 50px 50px 0 0;
}
.heart:before {
  left: 100px;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.heart:after {
  right: 100px;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/
.cloud {
  position: absolute;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 1000px;
  animation: crazy 35s infinite linear;
}
.cloud.big {
  top: 50%;
  width: 300px;
  height: 100px;
  margin-top: 0.5rem;
  animation-duration: 75s;
}
.cloud.small {
  top: 30%;
  width: 60px;
  height: 20px;
  margin-top: 0.5rem;
  animation-duration: 60s;
}
.cloud.mid {
  top: 20%;
  width: 120px;
  height: 40px;
  margin-top: 0.5rem;
  animation-duration: 62s;
}
.cloud.four {
  top: 80%;
  width: 150px;
  height: 50px;
  margin-top: 0.5rem;
  animation-duration: 68s;
}

.cloud::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50%;
  height: 150%;
  background: white;
  border-radius: 50%;
}
.cloud::after {
  content: "";
  position: absolute;
  top: -40%;
  right: 20%;
  width: 30%;
  height: 100%;
  background: white;
  border-radius: 50%;
}
@keyframes crazy {
  from {
    left: 0;
    transform: translateX(-100%);
  }

  to {
    left: 100%;
    transform: translateX(0%);
  }
}
p {
  color: #257df0;
  opacity: 0.8;
  padding-top: 20px;
}
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #15d0dd, #257df0);
  display: flex;
  align-items: center; /*vertical alignment*/
  justify-content: center; /*horizontal alignment*/
  font-family: Arial, Helvetica, sans-serif;
  /*background: linear-gradient(
    to bottom,
    white,
    white 50%,
    #85b7f8 50%,
    #85b7f8
  );
  The rectangle in which to repeat. 
  It can be fully wide in this case 
  background-size: 100% 20px;*/
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 0.2rem;
  z-index: 2;
  backdrop-filter: blur(1rem);
  display: flex;
}
/*.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.circle1 {
  height: 15rem;
  width: 15rem;
  top: 25%;
  right: 10%;
}
.circle2 {
  height: 25rem;
  width: 25rem;
  bottom: 2%;
  left: 10%;
}*/

.menu-btn {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  margin-bottom: 10px;
  list-style: none;
  border-radius: 0.1rem;
  color: #257df0;
  font-weight: 300;
  text-transform: uppercase;
  width: 20rem;
}
.big-btn {
  background-color: rgb(245, 129, 193, 0.9);
  padding: 10px 30px;
  margin-bottom: 10px;
  list-style: none;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: 10rem;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  align-self: baseline;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user::after {
  content: "";
  background-color: rgba(245, 129, 193, 0.2);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  padding: 3rem;
  margin: 2rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 6px 6px 20px rgba(13, 125, 199, 0.7);
}
.dashboard {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.6rem 0 0 0.6rem;
}
.dashboard p {
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.links {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.my-best {
  align-self: center;
  justify-content: space-evenly;
}
